@using System.Web.Optimization
@{
    ViewBag.ActiveMenu = PageNames.Home; //The menu item will be active for this page.
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" />
}
@section scripts{
    @Scripts.Render("~/Bundles/home-index")
}
<div class="block-header">
    <h1>@L("Welcome")</h1>
</div>